body {
    background-image: url("../img/amarillo.png");

}

#myCanvas {
    border:1px solid #e7a61a;
    background-color: whitesmoke;
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(112,112,112,1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(112,112,112,1);
    box-shadow: 10px 10px 5px 0px rgba(112,112,112,1);
}

#containerChat {
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border: 0px dotted #000000;
    background-color: white;
}

form, p, span {
    margin:0;
    padding:0; }

input { font:12px arial; }

a {
    color:#e7a61a;
    text-decoration:none; }

a:hover { text-decoration:underline; }

#containerChat, #loginform {
    margin:15px;
    /*margin-left: 80px;*/
    padding-bottom:25px;
    background:#e9e9e9;
    width:600px;
    height: 200px;
    border:1px solid #e7a61a; }

#loginform { padding-top:8px; }

#loginform p { margin: 5px; }

#chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:#e9e9e9;
    height:90px;
    width:530px;
    border:1px solid #e7a61a;
    overflow:auto; }

#usermsg {
    width:395px;
    border:1px solid #e7a61a; }

#submit { width: 60px; }

.error { color: #ff0000; }

#menu { padding:12.5px 25px 12.5px 25px; }

.welcome { float:left; }


.msgln { margin:0 0 2px 0; }

/* --------------type range*------------------------------------*/
input[type=range] {
    -webkit-appearance: none;
    width: auto;
    margin: 13.8px 0;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 7.4px;
    cursor: pointer;
    box-shadow: 0.8px 0.8px 13px #e7a61a, 0px 0px 0.8px #0d0d0d;
    background: #3ba2ff;
    border-radius: 5px 5px 5px 5px;
    border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #e7a61a;
    height: 26px;
    width: 16px;
    border-radius: 3px;
    background: #ffff00;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -9px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #3174ad;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 0.8px 0.8px 13px #e7a61a, 0px 0px 0.8px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #e7a61a;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #2f6ea5;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 0.8px 0.8px 13px #e7a61a, 0px 0px 0.8px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 0.8px 0.8px 13px #e7a61a, 0px 0px 0.8px #0d0d0d;
}
input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #e7a61a;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    height: 8.4px;
}
input[type=range]:focus::-ms-fill-lower {
    background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
    background: #3174ad;
}

/*          paleta de colores           */
input[type="color"] {
    -webkit-appearance: none;
    background-color: #e7a61a;
    border-radius: 5px 5px 5px 5px;
    border: none;
    width: 52px;

    height: 22px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 1px;
}
input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 5px 5px 5px 5px;
}


/* Paneles */
#team1, #team2 {
    font-size: 30px;
}

#team1 .item{
    border-radius: 15px 15px 15px 15px;
    border: 0px dotted #000000;
    background-color: #6495ED;
}

#team2 .item{
    border-radius: 15px 15px 15px 15px;
    border: 0px dotted #000000;
    background-color: #32CD32;
}

.item{
    padding: 10px 0 10px 0;
    margin-top:  5px;
    font-size: 15px;
    text-align: center;
    font-family: "Century Gothic";
}

.row{
    margin:0;
}